EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
KIWIFY_WEBHOOK_SECRET=
EXPO_PUBLIC_KIWIFY_CHECKOUT_URL=
EXPO_PUBLIC_GOOGLE_PLACES_API_KEY=
LLM_ESCOLHIDA_API_KEY=
